 body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      
    }

    .dashboard {
      display: flex;
      height: 100vh;
    }

    .sidebar {
      width: 250px;
      background: linear-gradient(180deg, #4b6cb7, #182848);
      color: white;
      padding: 20px;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .sidebar h2 {
      margin: 0 0 10px;
      font-size: 24px;
      text-align: center;
    }

    .sidebar p {
      text-align: center;
      margin-bottom: 30px;
      color: #cde2ff;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
    }

    .sidebar ul li {
      padding: 12px 15px;
      margin-bottom: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .sidebar ul li:hover,
    .sidebar ul li.active {
      background-color: #ffffff;
      color: #182848;
      font-weight: bold;
    }

    .main-content {
      flex-grow: 1;
      padding: 30px;
      background-color: #f9fbfd;
      overflow-y: auto;
    }

    .main-heading h1 {
      font-size: 28px;
      margin-bottom: 25px;
      color: darkblue;
      text-align: center;
    }

    .cards {
      display: flex;
      gap: 20px;
      justify-content:row;
      flex-wrap: wrap;
    }

    .card {
      width: 20%;
      aspect-ratio: 1 / 1; /* Makes it square */
      border-radius: 10px;
      color: white;
      padding: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.02);
    }

    .card .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .card-icon {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .card h2 {
      font-size: 28px;
      margin: 0;
    }

    .card p {
      margin: 4px 0;
      font-size: 16px;
    }

    .card a {
      color: white;
      font-size: 13px;
      text-decoration: none;
      margin-top: 5px;
    }

    .card.red {
      background: #dc3545;
    }

    .card.blue {
      background: #007bff;
    }

    .card.gray {
      background: #343a40;
    }

    .card.pink {
      background: #e83e8c;
    }

    .graph1{
        height: 350px;
    }
    .graph1{

          border-radius: 10px;
      color: white;
      padding: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
      transition: transform 0.3s ease;
    }
    .graph2{
        height: 350px;
        border-radius: 10px;
      color: white;
      padding: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
      transition: transform 0.3s ease;
    }